{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index Page</title>
    <link rel="stylesheet" href="{% static 'second_app/css/style.css' %}">
</head>
<body>
    <h1>{{ obj.2 }}, {{ name | upper}} Welcome to Second app</h1>
    <a href="{% url 'second_app:about' %}"> Go to about us page</a>

    <ul>
        {% for num in obj %}
        <li>{{ num }}</li>
        {% endfor %}
    </ul>

    {% if is_major %}
    <h3>Hello!</h3>
    {% endif %}

</body>
</html>